body {
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 1000px;
    height: 100%;
}
.container-color-and-btn{
    padding-right: 50px ;
    height: 50%;
}
.options{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50px;
}

.container-header{
    width: 100%;
}
.container-main{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-top: 5%;

}
.size-opt{

    margin: 10px;
    display: flex;
    justify-content: flex-start;
}
.size{
    text-align: center;
    width: 25%;
}

#color-palette{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: 1px black;
    margin: 2px;
}

.color {
    width: 30px;
    height: 25px;
    margin: 1px;
    border: 1px solid black;
}

.color:first-child{
    background-color: black;
}

#pixel-board {
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
}

.pixel{
    border: 1px solid black;
    width: 40px;
    height: 40px;
}